* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 400;
}

:root {
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);

    --Yellow-100: hsl(31, 66%, 93%)
;    --Yellow-500: hsl(39, 100%, 71%);
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: whitesmoke;
}

main {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(3,185px);
    gap: 1rem;
    grid-template-areas: 
    "card-1 card-2 card-2 card-3"
    "card-1 card-4 card-5 card-3"
    "card-6 card-7 card-8 card-8"
    ;
}

.card {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-1 {
    background-color: var(--Yellow-100);
    height: 270px;
}

.card-2 {
    background-color: var(--Purple-500);
}

.card-3 {
    background-color: var(--Purple-100);
}

.card-4 {
    background-color: white;
}

.card-5 {
    background-color: var(--Yellow-500);
}

.card-6 {
    height: 305px;
    position: relative;
    top:-120px;
    background-color: var(--Yellow-500);
}

.card-7 {
    background-color: white;
}

.card-8 {
    background-color: var(--Purple-500);
}
